*.pvk
*.pfx
*.cer
*.xml
lp3thw/Gothons/build/
/lp3thw/.vs/lp3thw/v15/Browse.VC.db
/lp3thw/mcasta/.vs/mcasta/v15/Browse.VC.opendb
/lp3thw/mcasta/.vs/mcasta/v15/Browse.VC.db

#Emacs temporary files:
*~
[#]*[#]
.\#*